{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- When we use the ListView class-based view with a model, Django automatically
                generates a context variable based on the model's name in lowercase followed
                by _list. In your case, since the model is Post, Django generates the context
                variable post_list.
                So, in the template index.html, when you see % for post in post_list %, you
                are iterating through the list of Post objects that were retrieved using the
                ListView. This post_list context variable is automatically available in the
                template because of the ListView context behavior. -->
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <!-- In urls.py: name="post_detail": This is the name of the URL pattern, which
                            is used to refer to this specific URL configuration in your code. It's especially useful when you want to generate URLs using the url template tag or
                            the reverse() function. -->
                            <!-- curley brackets and % % - is a control statement -->

                            <!-- In Django template syntax, % url 'post_detail' post.slug % is a template tag that generates a URL based on the URL pattern named 'post_detail'. The post.slug part provides the necessary information (the slug) to create the URL. -->
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}